<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058274849558-s35vf4jl8svi6q5pr4o5omk2qk8b3tjr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058274849558-s35vf4jl8svi6q5pr4o5omk2qk8b3tjr</string>
	<key>API_KEY</key>
	<string>AIzaSyB1EFudzx4kL_7wQHYBwgE6ll_O1LEg_Mk</string>
	<key>GCM_SENDER_ID</key>
	<string>1058274849558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.drugScanner</string>
	<key>PROJECT_ID</key>
	<string>drugscanner-ae525</string>
	<key>STORAGE_BUCKET</key>
	<string>drugscanner-ae525.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058274849558:ios:f1e3d3646fff500ff99637</string>
</dict>
</plist>